- ProjectUsersPresenter = require "../../presenters/project-users"

- defaultAvatar = "https://cdn.gomix.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2FdefaultAvatar%402x.png"

section.featured-projects

  h2
    b Featured Apps 
  ul
    - application = @
    - @featuredProjects().forEach (project) ->

      li
        - if project.link
          a(href=project.link)
            .featured-container(data-track="featured project" data-track-label=project.name)
              img.featured(width=30 height=30 src=project.img)
              p.project-name= project.name
        - else
          - showProjectOverlay = -> application.showProjectOverlay project
          a(href="/~#{project.domain}")
            .featured-container(click=showProjectOverlay data-track="featured project" data-track-label=project.name)
              img.featured(width=30 height=30 src=project.img)
              p.project-name= project.name

