
- defaultAvatar = "https://cdn.gomix.com/0a15009e-17ee-4915-bc29-5ba03bb09517%2Favatar.svg"

section.features

  h2 Featured Apps
  ul
    - application = @
    - @featuredProjects().forEach (project) ->
      li
        - showProjectOverlay = -> application.showProjectOverlay project
        .featured-container(click=showProjectOverlay data-track="featured project" data-track-label=project.name)
          img.featured(width=30 height=30 src=project.img)

          p.project-name= project.name

        - # refactor me into includes/users.jadelet
        - if project.users
          .users
            - project.users.forEach (user) ->
              .user(title=user.login data-tooltip=user.login data-tooltip-left=true)
                img(width=30 height=30 src=user.avatarUrl)
        - else
          .users
            .user(title="Gomix team" data-tooltip="Gomix team" data-tooltip-left=true)
              img(width=30 height=30 src=defaultAvatar)
