- remixButton = "https://cdn.gomix.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Fremix-button.svg"

- editor = "https://glitch.com/edit/#!/project/community"
- remix = "https://glitch.com/edit/#!/remix/community"

- about = "https://glitch.com/about"
- blog = "https://medium.com/glitch"
- help = "https://glitch.com/faq"
- status = "http://status.glitch.com/"
- support = "https://support.glitch.com"
- legal = "https://glitch.com/legal"

footer(role="contentinfo")

  p
    a(href=remix)
      img(src=remixButton width=162 alt="Remix on Glitch")
  p
    a(href=editor) View Code

  hr

  p
    a(href=about data-track="footer → about") About
  p
    a(href=blog data-track="footer → blog") Blog
  p
    a(href=help data-track="footer → faq") FAQ
  p
    a(href=status data-track="footer → system status") System Status
  p
    a(href=support data-track="footer → support forum") Support Forum
  p
    a(href=legal data-track="footer → legal stuff") Legal Stuff
