
- logo = "https://cdn.gomix.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Fcarp.svg"
- play = "https://cdn.hyperdev.com/6ce807b5-7214-49d7-aadd-f11803bc35fd%2Fplay.svg"

- SignInPopPresenter = require "../../presenters/sign-in-pop"

header(role="banner")
  .header-info
    a(href=@baseUrl)
      img.logo(src=logo)
    //if !user.isSignedIn
    h1.headline
      a(href=@baseUrl)
        span= "Glitch"
      span= " "
      span is the easiest way to build the app or bot of your dreams

    span(class=@hiddenIfUserIsSignedIn)
      p.about With working example apps to remix, a code editor to modify them, instant hosting and deployment - anybody can build a web app on Gomix, for free. 
        a(href="https://glitch.com/about") Learn more
      p.video(click=@showVideoOverlay)
        img.play-button(src=play)
        span How it works in 2 minutes

  nav(role="navigation")
    form(action="#{@baseUrl}search" method="get" role="search")
      input.search-input(name="q" placeholder="bots, apps, tutorials" value=@application.searchQuery)

    span(class=@hiddenIfUserIsSignedIn)
      button.button-small.opens-pop-over(click=@toggleSignInPopVisible) Sign in
      span(class=@popHiddenUnlessSignInPopVisible)
        = SignInPopPresenter(@.application).template
    span(class=@hiddenUnlessUserIsSignedIn)
      .user
        img(src=@userAvatar width=30 height=30)

      // TODO show user avatar and link to profile page if signed in
