- Loader = require "./loader"
- showIcon = "https://cdn.gomix.com/6ce807b5-7214-49d7-aadd-f11803bc35fd%2Fshow-app.svg"
- defaultAvatar = "https://cdn.gomix.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2FdefaultAvatar.svg"

span
  .overlay-background(class=@isOverlayHidden click=@hideOverlay)

    dialog.overlay(click=@stopPropagation class=@hiddenUnlessProject)
      section.pop-over-info
        img.avatar(src=@projectAvatar)
        .overlay-title= @projectDomain
      section.pop-over-actions.has-buttons
        a.button-link.show-app-link(href=@showLink onclick=@overlayButtonClickHandler data-track="overlay â†’ show" data-track-label=@projectName)
          .button.show-app
            img(src=showIcon)
            span Show App
        a.button-link.project-link(href=@editorLink onclick=@overlayButtonClickHandler data-track="overlay â†’ view code" data-track-label=@projectName)
          .button View Code
        a.button-link.remix-link(href=@remixLink onclick=@overlayButtonClickHandler data-track="overlay â†’ remix" data-track-label=@projectName)
          .button.cta-button Remix your own

      section.pop-over-actions.markdown-container(class=@warningIfReadmeError)
        - #console.log "ðŸ’", @projectAvatar()
        - ##img(src=@projectAvatar)
        .project-users
          .users
            - if @projectUsers()
              - @projectUsers().forEach (user) ->
                .user(title=user.login data-tooltip=user.login data-tooltip-left=true)
                  img(width=30 height=30 src=user.avatarUrl style="background-color:#{user.color}")
            - else
              .user(title="Glitch team" data-tooltip="Glitch team" data-tooltip-left=true)
                img(width=30 height=30 src=defaultAvatar)

        .markdown-content(class=@hiddenUnlessOverlayReadmeLoaded)
          = @overlayReadme
        span(class=@hiddenIfOverlayReadmeLoaded)
          = Loader(this)

      section.pop-over-info.last-section
        a.thoughts-link(href=@projectThoughtsMailto)
          button.button-small.thoughts What do you think?

    dialog.overlay(click=@stopPropagation class=@hiddenUnlessVideo)
      section.pop-over-actions
        .wistia_responsive_padding
          .wistia_responsive_wrapper
            .wistia_embed.wistia_async_vskja9agqj(videoFoam=true)
