- ProjectUsersPresenter = require "../../presenters/project-users"

- project = @project


li
  = ProjectUsersPresenter(@, project).template

  - category = @category
  - showProject = -> @showProject project
  
  a(href=@projectLink)
    .project(click=showProject style="background-color: #{category.color}; border-bottom-color: #{category.color}" data-track="project" data-track-label=project.domain)
      .project-container
        img.avatar(src="https://cdn.gomix.com/project-avatar/#{project.id}.png")
        button(class=@buttonCtaIfEdit)
          .project-name=project.domain
        .description=project.description
        .overflow-mask(style="background-color: #{category.color}")
