- defaultAvatar = "https://cdn.gomix.com/0a15009e-17ee-4915-bc29-5ba03bb09517%2Favatar.svg"

li
  if project.users
    .users
      each user in project.users
        .user(title=user.name data-tooltip=user.name data-tooltip-left=true)
          img(width=30 height=30 src=user.avatar)
    .user-names
      each user, index in project.users
        - totalUsers = project.users.length - 1
        if index > 0 && index !== totalUsers
          span= " , "
        else if index > 0
          span= " and "
        span.user-name=user.name
  else
    .users
      .user(title="Gomix team" data-tooltip="Gomix team" data-tooltip-left=true)
        img(width=30 height=30 src=defaultAvatar)

  .project(style="background-color: #{category.color}; border-bottom-color: #{category.color}" data-project-id=project.appId data-project-name=project.editorUrl)
    .project-container
      if project.projectAvatarNeedsLegibility
        img.avatar.legible-background(src="https://cdn.gomix.com/project-avatar/#{project.appId}.png")
      else
        img.avatar(src="https://cdn.gomix.com/project-avatar/#{project.appId}.png")
      button
        .project-name=project.name
      .description=project.description
      .overflow-mask(style="background-color: #{category.color}")

  // .meta
  //   if project.likes
  //     .likes=project.likes
  //   if project.remixes
  //     .remixes=project.remixes
